@import "tailwindcss";

@theme {
  --color-black: #040404;
  --color-orange: #e6533c;
  --color-orange-1: #ef8964;
  --color-beige: #efa082;
  --color-white: #efede8;

  --breakpoint-2xl: 1440px;
}
@layer components {
  .btn-outline {
    @apply inline-flex
      items-center
      justify-center
      gap-2
      w-34
      h-10.5
      /* px-10 */
      py-3
      rounded-xl
      border
      border-white/30
      bg-transparent
      text-white
      text-[16px]
      font-medium
      transition
      duration-200;
  }

  .btn-primary {
    @apply inline-flex
      items-center
      justify-center
      gap-2
      w-34
      h-10.5
      /* px-[40px] */
      py-3
      rounded-xl
      bg-orange
      text-white
      text-[16px]
      font-medium
      transition
      duration-200;
  }

  @media (min-width: 768px) {
    .btn-outline,
    .btn-primary {
      @apply w-[190px]
        h-[56px]
        px-[60px]
        py-4
        text-[20px];
    }
  }

  .btn-outline:hover {
    @apply bg-beige/10;
  }

  .btn-primary:hover {
    @apply opacity-90;
  }
}
